<!-- index.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h1>Actors Table</h1>


{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.actor_id}}</td>
            <td>{{this.actor_fname}}</td>
            <td>{{this.actor_lname}}</td>
            <td><button onclick="deleteActor({{this.actor_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_actor.js"></script>

<h3>Search for Actor name by using the field below. Partial names are OK too!</h3>
<form id="search-actor-html" method='GET' action='/Actors'>
    <label for="input-lname">Search by Actor Last Name: </label>
    <input type="text" name="lname" id="input-lname-html-search">
    
    <input type="submit">
    <a href='/Actors'><button>Reset</button></a>
</form>



<!-- /views/index.hbs -->
<h3>To add a new award, please enter their information below and click `Submit`!</h3>
<form id="add-actor-form-ajax" method="POST" action="/add-actor-form">

    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <input type="submit">
</form>
{{!-- <script src="./js/add_award.js"></script> --}}

<h2>To update an Actor select one then fill out all the information</h2>
<form id="update-actor-form-ajax">
    <label for="input_actor_id">Actor to update: </label>
    <select name="input_actor_id" id="actor_id">
        <option value="test">Select an Actor ID</option>
        {{#each data}}
        <option value="{{this.actor_id}}">{{this.actor_fname}} {{this.actor_lname}}</option>
        {{/each}}
    </select>

    <label for="input-actor-fname">First Name: </label>
    <input type="text" name="input-actor-fname" id="input-actor-fname">
    
    <label for="input-actor-lname">Last Name: </label>
    <input type="text" name="input-actor-lname" id="input-actor-lname">


    <input type="submit">

</form>

<script src="./js/update_actor.js"></script>