<!-- index.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h1>Awards Table</h1>


{{!-- Create a table --}}
<table id="award-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.award_id}}</td>
            <td>{{this.movie_id}}</td>
            <td>{{this.actor_id}}</td>
            <td>{{this.award_title}}</td>
            <td>{{this.Year_won}}</td>
            <td><button onclick="deleteAward({{this.award_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_award.js"></script>

<h3>Search by award title using the field below. Partial names are OK too!</h3>
<form id="search-award-html" method='GET' action='/Awards'>
    <label for="input-award_title">Search by Award Title: </label>
    <input type="text" name="award_title" id="input-award_title-html-search">
    
    <input type="submit">
    <a href='/Awards'><button>Reset</button></a>
</form>

<!-- /views/index.hbs -->
<h3>To add a new award, please enter their information below nad click `Submit`!</h3>
<form id="add-award-form-ajax" method="POST" action="/add-award-form">

    <select name="input-movie" id="input-movie-ajax">
        <option value="">Select a Movie</option>
        {{#each Movies}}
        <option value="{{this.movie_id}}">{{this.movie_name}}</option>
        {{/each}}
    </select>

    <select name="input-actor" id="input-actor-ajax">
        <option value="NULL">Select an Actor</option>
        {{#each Actors}}
        <option value="{{this.actor_id}}">{{this.actor_fname}} {{this.actor_lname}}</option>
        {{/each}}
    </select>

    <label for="input-award_title">Title: </label>
    <input type="text" name="input-award_title" id="input-award_title">
    
    <label for="input-year_won">Year: </label>
    <input type="text" name="input-year_won" id="input-year_won">

    <input type="submit">
</form>

<h3>To update an Award select one then fill out all the information</h3>
<form id="update-award-form-ajax">
    <label for="input_award_title">Award Title: </label>
    <select name="input_award_title" id="mySelect">
        <option value="test">Select an Award</option>
        {{#each data}}
        <option value="{{this.award_id}}">{{this.award_title}}</option>
        {{/each}}
    </select>

    <label for="input_movie_id">Movie: </label>
    <select name="input_movie_id" id="input-movie_id-update">
        <option>Select a Movie</option>
        {{#each Movies}}
        <option value="{{this.movie_id}}">{{this.movie_name}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="./js/update_award.js"></script>