<body>
    <header>

    </header>
    <h1> Movies Actors Intersection Table </h1>
    <table id="movie-actors-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {{#each data}}
        <tr>
            <td>{{this.movies_actors_id}}</td>
            <td>{{this.actor_id}}</td>
            <td>{{this.movie_id}}</td>
            <td><button onclick="deleteMoviesActors({{this.movies_actors_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    </table>
    <script src="./js/delete_movie_actors.js"></script>

    <h3>To add a new intersection, please enter their information below and click `Submit`!</h3>
    <form id="add-movie_actor-form-ajax" method="POST" action="/add-movie_actor-form">

        <select name="input_movie" id="mySelect-add-movie">
            <option value="select">Select a Movie</option>
            {{#each Movie}}
            <option value="{{this.movie_id}}">{{this.movie_name}}</option>
            {{/each}}
        </select>

        <select name="input_actor" id="mySelect-add-actor">
            <option value="select">Select a Actor</option>
            {{#each Actor}}
            <option value="{{this.actor_id}}">{{this.actor_fname}} {{this.actor_lname}}</option>
            {{/each}}
        </select>
        
        <input type="submit">
    </form>
    
    <h3>To update an intersection select one then fill out all the information</h3>
    <form id="update-movies-actors-form-ajax">
        <label for="input_movies_actors_title">Intersection to update: </label>

        <select name="input_movies_actors_title" id="mySelect-update-movies-actors">
            <option value="select">Select an Intersection</option>
            {{#each data}}
            <option value="{{this.movies_actors_id}}">{{this.movie_id}} - {{this.actor_id}} </option>
            {{/each}}
        </select>

        <select name="input_movie" id="mySelect-update-movie">
            <option value="select">Select a Movie</option>
            {{#each Movie}}
            <option value="{{this.movie_id}}">{{this.movie_name}}</option>
            {{/each}}
        </select>

        <select name="input_service" id="mySelect-update-actor">
            <option value="select">Select a Actor</option>
            {{#each Actor}}
            <option value="{{this.actor_id}}">{{this.actor_fname}} {{this.actor_lname}}</option>
            {{/each}}
        </select>
        <input type="submit">
    </form>
    <script src="./js/update_movie_actor.js"></script>
</body>