<body>
    <header>

    </header>
    <h1> Movies Streaming Services Intersection Table </h1>
    <table id="movie-streaming-service-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {{#each data}}
        <tr>
            <td>{{this.movies_streaming_services_id}}</td>
            <td>{{this.movie_id}}</td>
            <td>{{this.service_id}}</td>
            <td><button onclick="deleteMovieStreamingService({{this.movies_streaming_services_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    </table>
    <script src="./js/delete_movie_streaming_service.js"></script>

    <h2>Adding intersection using an HTML form</h2>
    <p>To add a new intersection, please enter their information below and click `Submit`!</p>
    <form id="add-movie_streaming_service-form-ajax" method="POST" action="/add-movie_streaming_service-form">

        <select name="input_movie" id="mySelect-add-movie">
            <option value="select">Select a Movie</option>
            {{#each Movie}}
            <option value="{{this.movie_id}}">{{this.movie_name}}</option>
            {{/each}}
        </select>

        <select name="input_service" id="mySelect-add-service">
            <option value="select">Select a Streaming Service</option>
            {{#each Streaming_Services}}
            <option value="{{this.service_id}}">{{this.service}}</option>
            {{/each}}
        </select>
        
        <input type="submit">
    </form>
    
    <h2>Updating intersection using Ajax</h2>
    <form id="update-movie-streaming-service-form-ajax">
        <label for="input_movie_Streaming_Service_title">Movie Title: </label>

        <select name="input_movie_streaming_service_title" id="mySelect-update-movie-streaming-service">
            <option value="select">Select an Intersection</option>
            {{#each data}}
            <option value="{{this.movies_streaming_services_id}}">{{this.movie_id}} - {{this.service_id}}</option>
            {{/each}}
        </select>

        <select name="input_movie" id="mySelect-update-movie">
            <option value="select">Select a Movie</option>
            {{#each Movie}}
            <option value="{{this.movie_id}}">{{this.movie_name}}</option>
            {{/each}}
        </select>

        <select name="input_service" id="mySelect-update-service">
            <option value="select">Select a Streaming Service</option>
            {{#each Streaming_Services}}
            <option value="{{this.service_id}}">{{this.service}}</option>
            {{/each}}
        </select>
        <input type="submit">
    </form>
    <script src="./js/update_movie_streaming_services.js"></script>
</body>