



<body>
    <header>

    </header>
    <h1> Movies Table </h1>
    <table>
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {{#each data}}
        <tr>
            <td>{{this.movie_id}}</td>
            <td>{{this.movie_name}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.genre}}</td>
            <td>{{this.minute}}</td>
            <td>{{this.additional_cost}}</td>
            <td><button onclick="deleteMovie({{this.movie_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    </table>
    <script src="./js/delete_movie.js"></script>

    <h2>Search Using an HTML Form</h2>
    <p>Search by movie title using the field below. Partial names are OK too!</p>
    <form id="search-movie-html" method='GET' action='/Movies'>
        <label for="input-movie_title">Search by Movie Title: </label>
        <input type="text" name="movie_title" id="input-movie_title-html-search">
        
        <input type="submit">
        <a href='/Movies'><button>Reset</button></a>
    </form>

    <h2>Adding Data using an HTML form</h2>
    <p>To add a new movie, please enter their information below and click `Submit`!</p>
    <form id="add-movie-form-ajax" method="POST" action="/add-movie-form">

        <label for="input-movie_name">Title: </label>
        <input type="text" name="input-movie_name" id="input-movie_name">
        
        <label for="input-rating">Rating: </label>
        <input type="text" name="input-rating" id="input-rating">

        <label for="input-genre">Genre: </label>
        <input type="text" name="input-genre" id="input-genre">
        
        <label for="input-minute">Run Time: </label>
        <input type="text" name="input-minute" id="input-minute">
        
        <label for="input-additional_cost">Price: </label>
        <input type="text" name="input-additional_cost" id="input-additional_cost">
        
        <input type="submit">
    </form>
    
    <h2>Updating Movie using Ajax</h2>
    <form id="update-movie-form-ajax">
        <label for="input_movie_title">Movie Title: </label>
        <select name="input_movie_title" id="mySelect">
            <option value="select">Select an Movie</option>
            {{#each data}}
            <option value="{{this.movie_id}}">{{this.movie_name}}</option>
            {{/each}}
        </select>

        <label for="input-movie_name">Title: </label>
        <input type="text" name="input-movie_name" id="update-input-movie_name">
        
        <label for="input-rating">Rating: </label>
        <input type="text" name="input-rating" id="update-input-rating">

        <label for="input-genre">Genre: </label>
        <input type="text" name="input-genre" id="update-input-genre">
        
        <label for="input-minute">Run Time: </label>
        <input type="text" name="input-minute" id="update-input-minute">
        
        <label for="input-additional_cost">Price: </label>
        <input type="text" name="input-additional_cost" id="update-input-additional_cost">

        <input type="submit">

    </form>
    <script src="./js/update_movie.js"></script>
</body>