<!-- index.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



{{!-- Create a table --}}
<h1>Streaming Services Table</h1>
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.service_id}}</td>
            <td>{{this.service}}</td>
            <td>{{this.cost}}</td>
            <td><button onclick="deleteService({{this.service_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_service.js"></script>

<h3>Search for Actor name by using the field below. Partial names are OK too!</h3>
<form id="search-service-html" method='GET' action='/Streaming_Services'>
    <label for="input-service_name">Search by Streaming Service name: </label>
    <input type="text" name="streaming_service" id="input-service-html-search">
    
    <input type="submit">
    <a href='/Streaming_Services'><button>Reset</button></a>
</form>



<!-- /views/index.hbs -->
<h3>To add a new Streaming Service, please enter their information below and click `Submit`!</h3>
<form id="add-streaming_service-form-ajax" method="POST" action="/add-streaming_service-form">

    <label for="input-service">Service Name: </label>
    <input type="text" name="input-service" id="input-service">
    
    <label for="input-cost">Cost: </label>
    <input type="text" name="input-cost" id="input-cost">

    <input type="submit">

</form>



<h3>To update a Service Service select one then fill out all the information</h3>
<form id="update-service-form-ajax">
    <label for="input_service_id">Actor to update: </label>
    <select name="input_service_id" id="service_id">
        <option value="test1">Select an Service ID</option>
        {{#each data}}
        <option value="{{this.service_id}}">{{this.service}}</option>
        {{/each}}
    </select>

    <label for="input-service-name">Service Name: </label>
    <input type="text" name="input-service-name" id="input-service-name">
    
    <label for="input-service-cost">Cost: </label>
    <input type="text" name="input-service-cost" id="input-service-cost">


    <input type="submit">

</form>

<script src="./js/update_service.js"></script>